.form-blog {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: auto; /*Cambio para que el borde se adapte al tamaño de la descripcion*/
    margin-top: 50px;
    background-color: lightslategrey;
    padding: 15px;
    border-radius: 10px;

    .label-blog {
        font-size: 18px;
        margin-bottom: 8px;
        font-family: 'Courier New', Courier, monospace;
        color: white;
    }
    
    .input-blog {
        border-radius: 10px;
        padding: 10px;
        margin-bottom: 16px;

        &:focus-visible {
            border: 0;
        }
    }
    
    .btn-blog {
        border-radius: 10px;
        padding: 10px;
        margin-left: auto;
        margin-right: auto;

        &:hover {
            background-color: rgb(65, 245, 65);
            transition: background-color 5s ease-out;
        }

        &:disabled{ /*Evita que el hover se aplique mientras el boton está desactivado*/
            background-color: transparent;
            transition: initial;
        }
    }

}
